@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/fonts/shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes progress-heart {
  0% {
    transform: scaley(0);
  }
  10% {
    transform: scaley(0.1);
  }
  20% {
    transform: scaley(0.2);
  }
  30% {
    transform: scaley(0.3);
  }
  40% {
    transform: scaley(0.4);
  }
}
.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.heading__title {
  font-family: "Shrikhand";
  flex: 1;
  margin: 0;
  padding: 1rem;
  box-shadow: 1px 1px 5px #cfcfcf;
}
.heading__search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 1rem;
  box-shadow: 1px 1px 5px #cfcfcf;
  background-color: #eaeaea;
}

.search__textarea {
  border: none;
  background-color: #eaeaea;
  margin-left: 1rem;
}
.search__textarea::placeholder {
  color: black;
  font-weight: bold;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.reservation__title {
  margin: 1rem 0 0 0;
}
.reservation__definition {
  margin: 0.5rem 2.5rem;
}
.reservation__submit {
  text-align: center;
  width: 13rem;
  border: 1px solid #dadada;
  border-radius: 40px;
  box-shadow: 4px 4px 4px #dadada;
  padding: 0.8rem 0rem;
  margin: 1rem 0 3rem 0;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  color: white;
  cursor: pointer;
}

.fonction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.fonction__title {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.fonction__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: inherit;
  width: 100%;
  list-style-type: none;
}

.choice {
  border: 1px solid #f6f6f6;
  border-radius: 20px/20px;
  width: 20rem;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #f6f6f6;
  position: relative;
}
.choice__icon {
  padding-right: 1.4rem;
  font-size: 1.3rem;
  color: #7e7e7e;
}
.choice::before {
  content: "1";
  position: absolute;
  left: -0.8rem;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0 0.3rem 0 0.3rem;
  color: white;
  background: #9356DC;
}
.choice:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.choice:hover > .choice__icon {
  color: #9356DC;
}

.composition {
  border: 1px solid #f6f6f6;
  border-radius: 20px/20px;
  width: 20rem;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #f6f6f6;
  position: relative;
}
.composition__icon {
  padding-right: 1.2rem;
  color: #7e7e7e;
}
.composition::before {
  content: "2";
  position: absolute;
  left: -0.8rem;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0 0.3rem 0 0.3rem;
  color: white;
  background: #9356DC;
}
.composition:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.composition:hover > .composition__icon {
  color: #9356DC;
}

.tasty {
  border: 1px solid #f6f6f6;
  border-radius: 20px/20px;
  width: 20rem;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #f6f6f6;
  position: relative;
}
.tasty__icon {
  padding-right: 1rem;
  color: #7e7e7e;
}
.tasty::before {
  content: "3";
  position: absolute;
  left: -0.8rem;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0 0.3rem 0 0.3rem;
  color: white;
  background: #9356DC;
}
.tasty:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.tasty:hover > .tasty__icon {
  color: #9356DC;
}

.menuCard {
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
}
.menuCard__title {
  margin-left: 1rem;
}
.menuCard__list {
  display: flex;
  flex-wrap: wrap;
}

.list__selection {
  text-decoration: none;
  border: 0;
  width: auto;
}

.selection__card {
  object-fit: cover;
  width: 300px;
  height: auto;
  overflow: hidden;
  border: 1px transparent #f6f6f6;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.selection__description {
  color: black;
}

.card__image {
  object-fit: cover;
  overflow: hidden;
  width: 20rem;
  height: 13rem;
}
.card__new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.2rem;
  font-weight: 700;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
}

.description__title {
  margin: inherit;
  margin-left: 0.5rem;
  margin-top: 1rem;
}
.description__subtitle {
  margin: inherit;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.description__icon {
  position: absolute;
  font-size: 2rem;
  top: 14.6rem;
  right: 1rem;
}

.information {
  background-color: #353535;
  color: white;
  padding: 0;
  margin: 0;
}
.information__title {
  font-family: "Shrikhand";
  font-weight: 500;
  margin: inherit;
  padding: 1rem;
  padding-left: 2rem;
  padding-bottom: 0;
}
.information__list {
  margin: inherit;
  padding: 1rem;
  padding-left: 2rem;
}

.proposition {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5rem;
}
.proposition__text {
  margin: 0;
  margin-left: 1rem;
}

.partnair {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5rem;
}
.partnair__text {
  margin: 0;
  margin-left: 0.5rem;
}

.mention {
  list-style-type: none;
  padding-bottom: 0.5rem;
}
.mention__mail {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 761px) {
  .heading {
    display: block;
  }
  .heading__title {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
  }

  .search {
    width: auto;
  }
  .search__icon {
    width: auto;
    margin-left: 3.5rem;
  }
  .search__text-area {
    width: 0;
  }

  .fonction__title {
    margin: 2rem 0 0 0.7rem;
    font-size: 1.2rem;
  }
  .fonction__list {
    margin-bottom: 3rem;
  }

  .choice, .composition, .tasty {
    width: 17rem;
    font-weight: bold;
  }

  .reservation__title {
    margin-left: 0.5rem;
    font-weight: bold;
  }

  .selection {
    width: auto;
  }

  .menuCard__title {
    font-size: 1.2rem;
    margin-left: 0.7rem;
  }

  .card {
    display: inline-block;
    flex: none;
    margin: 0;
    margin: 0.8rem;
    width: auto;
  }
  .card__image {
    width: 100%;
  }

  .information__title {
    padding-left: 0.8rem;
  }
  .information__list {
    padding-left: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
