@charset "UTF-8";
/* Sommaire des Differents partials scss */
/* Polices du site*/
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/fonts/shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}
/*Couleurs du site*/
/*Couleur dégradé (violet/rose)*/
/* Formatage de base du corps de page*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mixins du site*/
/* Keyframes du Site */
/* Animation loader*/
/* Animation loader Cercles*/
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*Animation Couverts*/
@keyframes move_y {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(80px);
  }
}
/*Animation Coeur*/
@keyframes apparition {
  0% {
    opacity: 0;
    transform-origin: bottom;
    transform: translateY(0);
  }
  30% {
    opacity: 0.3;
    transform: translateY(0.3);
  }
  60% {
    opacity: 0.6;
    transform: translateY(0.6);
  }
  100% {
    opacity: 1;
    transform: translateY(1);
    transform: scale(1.1);
  }
}
/*Animation Check tournant*/
/*Rotation Check*/
@keyframes rotate360 {
  0% {
    transform: rotate(90deg);
  }
  33% {
    transform: rotate(180deg);
  }
  66% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Deplacement check sur la droite*/
@keyframes margin-right {
  0% {
    margin-right: -4rem;
  }
  30% {
    margin-right: -3rem;
  }
  50% {
    margin-right: -2rem;
  }
  80% {
    margin-right: -1rem;
  }
  100% {
    margin-right: 0rem;
  }
}
/* Animation Apparition plats*/
@keyframes delay-appear {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  30% {
    transform: translateY(70px);
    opacity: 0.1;
  }
  50% {
    transform: translateY(50px);
    opacity: 0.3;
  }
  70% {
    transform: translateY(30px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* Boucles */
/* Boucle pour les articles */
.delay_0 {
  animation: delay-appear 0.6s linear 0s both;
}

.delay_1 {
  animation: delay-appear 0.6s linear 0.2s both;
}

.delay_2 {
  animation: delay-appear 0.6s linear 0.4s both;
}

.delay_3 {
  animation: delay-appear 0.6s linear 0.6s both;
}

.delay_4 {
  animation: delay-appear 0.6s linear 0.8s both;
}

.delay_5 {
  animation: delay-appear 0.6s linear 1s both;
}

.delay_6 {
  animation: delay-appear 0.6s linear 1.2s both;
}

.delay_7 {
  animation: delay-appear 0.6s linear 1.4s both;
}

.delay_8 {
  animation: delay-appear 0.6s linear 1.6s both;
}

.delay_9 {
  animation: delay-appear 0.6s linear 1.8s both;
}

/* Code uniquement pour l'accueil */
/* Formatage Loader*/
/* Loader cercles*/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 3s ease-out 2s forwards;
  /* Loader couverts*/
}
.loader__item {
  align-self: start;
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  border: 6px solid transparent;
  border-top-color: #FF79DA;
  border-radius: 50px;
  position: relative;
  animation: loading 1s linear infinite both;
}
.loader__item:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  animation: loading 5s linear infinite both;
}
.loader__item:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #99E2D0;
  animation: loading 8s linear infinite both;
}
.loader__covered1 {
  position: absolute;
  top: 30%;
  left: 38%;
  width: 200px;
  height: auto;
  animation: move_y 2s linear infinite both;
}
.loader__covered2 {
  position: absolute;
  top: 30%;
  left: 43%;
  width: 200px;
  height: auto;
  animation: move_y 2s linear 0.2s infinite both;
}
.loader__covered3 {
  position: absolute;
  top: 30%;
  left: 48%;
  width: 200px;
  height: auto;
  animation: move_y 2s linear 0.4s infinite both;
}

/*header acuueil*/
.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
}
.heading__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand";
  flex: 1;
  margin: 0;
  padding: 1rem;
  box-shadow: 6px 6px 6px #cfcfcf;
}
.heading__search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 1rem;
  box-shadow: 1px 1px 5px #cfcfcf;
  background-color: #eaeaea;
}
.heading__return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.search__textarea {
  border: none;
  background-color: #eaeaea;
  margin-left: 1rem;
}
.search__textarea::placeholder {
  color: black;
  font-weight: bold;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.reservation__title {
  margin: 1rem 0 0 0;
}
.reservation__definition {
  margin: 0.5rem 2.5rem;
}
.reservation__submit {
  text-align: center;
  width: 13rem;
  border: 1px solid #dadada;
  border-radius: 40px;
  box-shadow: 4px 4px 4px #dadada;
  padding: 0.8rem 0rem;
  margin: 1rem 0 3rem 0;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  color: white;
  cursor: pointer;
  transition: all 400ms;
}
.reservation__submit:hover {
  transform: scale(1.1);
  opacity: 0.7;
  box-shadow: 6px 6px 3px #dadada;
}

/* Section Fonctionnement*/
.fonction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.fonction__title {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.fonction__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: inherit;
  width: 100%;
  list-style-type: none;
}

.choice {
  border: 1px solid #f6f6f6;
  border-radius: 20px/20px;
  width: 20rem;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #f6f6f6;
  position: relative;
}
.choice__icon {
  padding-right: 1.4rem;
  font-size: 1.3rem;
  color: #7b7b7b;
}
.choice::before {
  content: "1";
  position: absolute;
  left: -0.8rem;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0 0.3rem 0 0.3rem;
  color: white;
  background: #9356DC;
}
.choice:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.choice:hover > .choice__icon {
  color: #9356DC;
}

.composition {
  border: 1px solid #f6f6f6;
  border-radius: 20px/20px;
  width: 20rem;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #f6f6f6;
  position: relative;
}
.composition__icon {
  padding-right: 1.2rem;
  color: #7b7b7b;
}
.composition::before {
  content: "2";
  position: absolute;
  left: -0.8rem;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0 0.3rem 0 0.3rem;
  color: white;
  background: #9356DC;
}
.composition:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.composition:hover > .composition__icon {
  color: #9356DC;
}

.tasty {
  border: 1px solid #f6f6f6;
  border-radius: 20px/20px;
  width: 20rem;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #f6f6f6;
  position: relative;
}
.tasty__icon {
  padding-right: 1rem;
  color: #7b7b7b;
}
.tasty::before {
  content: "3";
  position: absolute;
  left: -0.8rem;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0 0.3rem 0 0.3rem;
  color: white;
  background: #9356DC;
}
.tasty:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.tasty:hover > .tasty__icon {
  color: #9356DC;
}

/* Cartes des Menus*/
.menuCard {
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
}
.menuCard__title {
  margin-left: 1rem;
}
.menuCard__list {
  display: flex;
  flex-wrap: wrap;
}

.list__selection {
  text-decoration: none;
  border: 0;
  width: auto;
}

.selection__card {
  object-fit: cover;
  width: 300px;
  height: auto;
  overflow: hidden;
  border: 1px transparent #f6f6f6;
  box-shadow: 2px 2px 10px #7b7b7b;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.selection__description {
  color: black;
}
.selection:hover {
  transform: scale(1.1);
}

.card__image {
  object-fit: cover;
  overflow: hidden;
  width: 20rem;
  height: 13rem;
}
.card__new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.2rem;
  font-weight: 700;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  color: #278870;
}

.description__title {
  margin: inherit;
  margin-left: 0.5rem;
  margin-top: 1rem;
}
.description__subtitle {
  margin: inherit;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.description__icon {
  position: absolute;
  font-size: 2rem;
  top: 14.6rem;
  right: 1rem;
  background-color: transparent;
}
.description__icon--fill {
  opacity: 0;
}

/* Formatage Pages du Site*/
/*Header des Menus*/
.heading1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading1__title {
  font-family: "Shrikhand";
  margin-right: 2rem;
}
.heading1__return {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  margin-left: 2rem;
}

/* Image de Presentation*/
.picture {
  max-width: 100%;
  max-height: 35rem;
  width: 100%;
  object-fit: cover;
}

/* Implementation des menus Et des Plats*/
/* Disposition des elements dans Menu*/
.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  border: 2px solid #f6f6f6;
  border-radius: 50px 50px 0 0;
  margin-top: -5rem;
  position: relative;
}
.menu__submit {
  text-align: center;
  width: 13rem;
  border: 1px solid #dadada;
  border-radius: 40px;
  box-shadow: 4px 4px 4px #dadada;
  padding: 0.8rem 0rem;
  margin: 1rem 0 3rem 0;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  color: white;
  cursor: pointer;
  transition: all 400ms;
  width: auto;
  height: 3rem;
  padding: 0 3rem;
  margin: 2rem 20rem;
}
.menu__submit:hover {
  transform: scale(1.1);
  opacity: 0.7;
  box-shadow: 6px 6px 3px #dadada;
}

/*Titre du Restaurant + icone coeur*/
.header {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.header__title {
  font-family: "Shrikhand";
  font-weight: 500;
  padding-left: 1rem;
}
.header__icon {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 3rem;
}
.header__icon:hover {
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  animation: apparition 0.3s ease both;
}
.header__icon--fill {
  opacity: 0;
}

/* Formatage des differents plats */
.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5%/30%;
  box-shadow: 2px 2px 10px #7b7b7b;
  width: 360px;
  margin: 1rem 0;
  margin-left: 1rem;
  background-color: white;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.article__title {
  margin: 0.8rem 0 0.3rem 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.article__describe {
  margin: 0.3rem 0 0.8rem 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.article__check {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  float: inline-end;
}
.article__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
  font-weight: 700;
  margin: 0 0.8rem 0.8rem 0;
}
.article:hover {
  border: none;
}
.article:hover .article__check {
  display: inherit;
  display: flex;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 28% 28% 0;
  margin-right: 0;
  width: 3.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  animation: margin-right 0.4s linear both;
}
.article:hover .article__info {
  width: 260px;
}

.article:hover .fa-check-circle {
  animation: rotate360 0.3s ease-in-out 0.2s both;
}

/* Formatage Titres designant les plats( Entree, plat, Desserts)*/
.entrance__title, .plate__title, .dessert__title {
  color: #7b7b7b;
  margin-left: 1rem;
  width: 3rem;
  border-bottom: 4px solid #99E2D0;
  padding: 0.5rem 0;
}

/* Declencheur animation Coeurs */
.description__icon--fill:hover {
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  animation: apparition 0.3s ease both;
}

/* Formatage Pied de page */
.information {
  background-color: #353535;
  color: white;
  padding: 0;
  margin: 0;
}
.information__title {
  font-family: "Shrikhand";
  font-weight: 500;
  margin: inherit;
  padding: 1rem;
  padding-left: 2rem;
  padding-bottom: 0;
}
.information__list {
  margin: inherit;
  padding: 1rem 0 0 2rem;
}
.information__mail {
  text-decoration: none;
  color: inherit;
  margin: 0 0 4rem 2rem;
}

.proposition {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5rem;
}
.proposition__text {
  margin: 0;
  margin-left: 1rem;
}

.partnair {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5rem;
}
.partnair__text {
  margin: 0;
  margin-left: 0.5rem;
}

.mention {
  list-style-type: none;
  padding-bottom: 0.5rem;
}

/* media Queries du Site */
@media only screen and (max-width: 761px) {
  .heading {
    display: block;
  }
  .heading__title {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
  }

  .search {
    width: auto;
  }
  .search__icon {
    width: auto;
    margin-left: 3.5rem;
  }
  .search__text-area {
    width: 0;
  }

  .fonction__title {
    margin: 2rem 0 0 0.7rem;
    font-size: 1.2rem;
  }
  .fonction__list {
    margin-bottom: 3rem;
  }

  .choice, .composition, .tasty {
    width: 17rem;
    font-weight: bold;
  }

  .reservation__title {
    margin-left: 0.5rem;
    font-weight: bold;
  }

  .selection {
    width: auto;
  }

  .menuCard__title {
    font-size: 1.2rem;
    margin-left: 0.7rem;
  }

  .card {
    display: inline-block;
    flex: none;
    margin: 0;
    margin: 0.8rem;
    width: auto;
  }
  .card__image {
    width: 100%;
  }

  .information__title {
    padding-left: 0.8rem;
  }
  .information__list {
    padding-left: 0.8rem;
  }
  .information__mail {
    margin-left: 0.8rem;
  }
}
@media only screen and (max-width: 375px) {
  .loader__covered1 {
    left: 20%;
  }
  .loader__covered2 {
    left: 25%;
  }
  .loader__covered3 {
    left: 30%;
  }

  .heading1 {
    justify-content: center;
    position: relative;
  }
  .heading1__return {
    position: absolute;
    margin: inherit;
    left: 1rem;
  }
  .heading1__title {
    font-weight: 300;
    justify-self: center;
    margin: 1rem 0;
  }

  .header__title {
    font-size: 7vw;
  }
  .header__icon {
    top: 1.6rem;
    right: 2rem;
    font-size: 1.6rem;
  }

  .article {
    width: 340px;
    margin: 1rem 0.5rem 1rem 0.3rem;
  }
  .article__describe {
    max-width: 280px;
  }
  .article:hover .article__info {
    width: 200px;
  }

  .entrance__title, .plate__title, .dessert__title {
    color: #7b7b7b;
    margin-left: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
