@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/fonts/shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.heading__title {
  font-family: "Shrikhand";
  flex: 1;
  margin: 0;
  padding: 1rem;
  box-shadow: 1px 1px 5px #cfcfcf;
}
.heading__search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 1rem;
  box-shadow: 1px 1px 5px #cfcfcf;
  background-color: #eaeaea;
}
.heading__textarea {
  border: none;
  background-color: #eaeaea;
  margin-left: 1rem;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.reservation__title {
  margin: 1rem 0 0 0;
}
.reservation__submit {
  text-align: center;
  width: 12rem;
  border: 1px solid #dadada;
  border-radius: 40px;
  box-shadow: 4px 4px 4px #dadada;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  color: white;
}

.fonction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.fonction__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: inherit;
  width: 100%;
  list-style-type: none;
}
.fonction__choice {
  border: 1px solid #f6f6f6;
  border-radius: 20px/20px;
  width: 20rem;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #f6f6f6;
}
.fonction__composition {
  border: 1px solid #f6f6f6;
  border-radius: 20px/20px;
  width: 20rem;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #f6f6f6;
}
.fonction__tasty {
  border: 1px solid #f6f6f6;
  border-radius: 20px/20px;
  width: 20rem;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #f6f6f6;
}

.fonction__choice::before {
  content: "1";
  position: relative;
  right: 2.2rem;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0 0.3rem 0 0.3rem;
  color: white;
  background: #9356DC;
}

.fonction__composition::before {
  content: "2";
  position: relative;
  right: 2.2rem;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0 0.3rem 0 0.3rem;
  color: white;
  background: #9356DC;
}

.fonction__tasty::before {
  content: "3";
  position: relative;
  right: 2.2rem;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0 0.3rem 0 0.3rem;
  color: white;
  background: #9356DC;
}

.fonction__icon {
  padding-right: 1.2rem;
}

.menuCard {
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
}
.menuCard__selection {
  text-decoration: none;
  border: 0;
  width: auto;
}
.menuCard__list {
  display: flex;
  flex-wrap: wrap;
}
.menuCard__card {
  object-fit: cover;
  width: 300px;
  height: auto;
  overflow: hidden;
  border: 1px transparent #f6f6f6;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.menuCard__image {
  object-fit: cover;
  overflow: hidden;
  width: 20rem;
  height: 13rem;
}

.menuCard__new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.2rem;
  font-weight: 700;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
}

.menuCard__description {
  color: black;
}

.menuCard__title1 {
  margin: inherit;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.menuCard__subtitle {
  margin: inherit;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.menuCard__icon {
  position: absolute;
  font-size: 2rem;
  top: 14.6rem;
  left: 16rem;
}

.information {
  background-color: #353535;
  color: white;
  padding: 0;
  margin: 0;
}
.information__list {
  margin: inherit;
  padding: 1rem;
  padding-left: 2rem;
}
.information__title {
  font-family: "Shrikhand";
  font-weight: 500;
  margin: inherit;
  padding: 1rem;
  padding-left: 2rem;
  padding-bottom: 0;
}
.information__text {
  margin: 0;
  margin-left: 1rem;
}
.information__proposition {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5rem;
}
.information__partnair {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}
.information__mention {
  list-style-type: none;
  padding-bottom: 0.5rem;
}
.information__contact {
  list-style-type: none;
}

.information a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
