@font-face {
    font-family:'Roboto';
    src: url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family:'Shrikhand';
    src: url('/fonts/shrikhand/Shrikhand-Regular.ttf') format('truetype'),
         url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-degraded: linear-gradient(-10deg, $color-primary, $color-secondary);



@mixin before {
    position: absolute;
    left: -0.8rem;
    border: 1px solid $color-primary;
    border-radius: 50%;
    padding:0 0.3rem 0 0.3rem;
    color: white;
    background: $color-primary;
}

@mixin submit {
    text-align:center;
    width: 13rem;
    border: 1px solid #dadada;
    border-radius: 40px;
    box-shadow: 4px 4px 4px #dadada;
    padding: 0.8rem 0rem;
    margin: 1rem 0 3rem 0;
    background: $color-degraded;
    color: white;
    cursor: pointer;
    transition: all 400ms ;
    
        &:hover {
            transform: scale(1.1);
            opacity:0.7;
            box-shadow: 6px 6px 3px #dadada;
        }
}
@mixin animated-heart {
    background: $color-degraded;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    animation: apparition 0.3s ease both;
} 

@keyframes apparition {
    0% {
        opacity: 0;
        transform-origin: bottom 50%;
        transform: translateY(0);
    }
    
    30% {
        opacity: 0.3;
        transform: translateY(0.3);
    }

    60% {
        opacity: 0.6;
        transform: translateY(0.6);
    }

    100% {
        opacity: 1;
        transform: translateY(1);
        transform: scale(1.1);
    }
}

.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Shrikhand';
        flex:1;
        margin: 0;
        padding: 1rem;
        box-shadow: 1px 1px 5px #cfcfcf;
    }

    &__search {
        display:flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        margin: 0;
        padding: 1rem;
        box-shadow: 1px 1px 5px #cfcfcf;
        background-color: #eaeaea;
    }

    &__return {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
    }
}

.heading1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
        font-family: 'Shrikhand';
        margin-right: 2rem;
    }

    &__return {
        font-size: 1.5rem;
        text-decoration: none;
        color: inherit;
        margin-left: 2rem;
    }
}
.search__textarea {
    border: none;
    background-color: #eaeaea;
    margin-left: 1rem;
        &::placeholder {
            color: black;
            font-weight: bold;
        }
}

.header {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
        &__title {
            font-family: 'Shrikhand';
            font-weight: 500;
            padding-left: 1rem;
        }

        &__icon {
            font-size: 2rem;
            position: absolute;
            top: 1rem;
            right: 3rem;
            &:hover {
                @include animated-heart;
            }
            
            &--fill {
                opacity: 0;
            }
        }
}

.reservation {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color:#f6f6f6;

        &__title {
            margin: 1rem 0 0 0;
        }

        &__definition {
            margin: 0.5rem 2.5rem;
        }

        &__submit {
           @include submit;
        }    
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    border:2px solid #f6f6f6;
    border-radius: 50px 50px 0 0;
    margin-top: -5rem;
    position: relative;
    &__submit {
        @include submit;
        width: auto;
        height:3rem;
        padding: 0 3rem;
        margin:2rem 8rem;
    }
}

.picture {
    max-width: 100%;
    max-height: 35rem;
    width: 100%;
    object-fit: cover;
}

.fonction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

        &__title {
            margin-left: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: inherit;
            width: 100%;
            list-style-type: none;
        }
}

.choice {
    border: 1px solid #f6f6f6;
    border-radius: 20px / 20px;
    width: 20rem;
    margin: 0.5rem;
    padding: 1.5rem;
    background-color: #f6f6f6;
    position: relative;

        &__icon {
            padding-right: 1.4rem;
            font-size: 1.3rem;
            color: #7e7e7e;
        }

        &::before {
            content:"1";
            @include before;
        }

        &:hover {
            background-color: lighten($color-primary, 35%);
            cursor: pointer;
                > .choice__icon {
                    color: $color-primary;
                }
        }
}

.composition {
    border: 1px solid #f6f6f6;
    border-radius: 20px / 20px;
    width: 20rem;
    margin: 0.5rem;
    padding: 1.5rem;
    background-color: #f6f6f6;
    position: relative;

        &__icon{
            padding-right: 1.2rem;
            color: #7e7e7e;
        }

        &::before {
            content:"2";
            @include before;
        }

        &:hover {
            background-color: lighten($color-primary, 35%);
            cursor: pointer;
                > .composition__icon {
                    color: $color-primary;
                }
        }
}

.tasty {
    border: 1px solid #f6f6f6;
    border-radius: 20px / 20px;
    width: 20rem;
    margin: 0.5rem;
    padding: 1.5rem;
    background-color: #f6f6f6;
    position: relative;

        &__icon {
            padding-right: 1rem;
            color: #7e7e7e;
        }

        &::before {
            content:"3";
            @include before;
        }

        &:hover {
            background-color: lighten($color-primary, 35%);
            cursor: pointer;
                > .tasty__icon {
                    color:$color-primary;
                }
        }
}

.menuCard {
    border:1px solid #f6f6f6;
    background-color: #f6f6f6;

        &__title {
            margin-left: 1rem;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
        }
}

.list__selection {
    text-decoration: none;
    border: 0;
    width: auto;
}

.selection {
    &__card {
        object-fit: cover;
        width: 300px;
        height:auto;
        overflow: hidden;
        border: 1px transparent #f6f6f6;
        border-radius: 10px;
        background-color: white;
        position: relative;
    }

    &__description {
        color: black;
    }
}

.card {
    &__image {
        object-fit: cover;
        overflow: hidden;
        width:20rem;
        height: 13rem;
    }

    &__new {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding:0.2rem;
        font-weight: 700;
        border: 1px solid $color-tertiary;
        background-color: $color-tertiary;
        color:darken($color-tertiary, 40%);
    }
}

.description {
    &__title {
        margin: inherit;
        margin-left: 0.5rem;
        margin-top: 1rem;
    }

    &__subtitle {
        margin: inherit;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
    }

    &__icon {
        position:absolute;
        font-size: 2rem;
        top: 14.6rem;
        right: 1rem;
        background-color: transparent;
        &--fill {
            opacity: 0;
        }
    }
}

.description__icon--fill:hover {
    @include animated-heart;
}
@keyframes rotate360 {
    0% {
        transform: rotate(90deg);
    }
    33% {
        transform: rotate(180deg);
    }
    66% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes margin-right {
    0% {
        margin-right: -4rem;
    }

    30% {
        margin-right: -3rem;
    }

    50% {
        margin-right: -2rem;
    }

    80% {
        margin-right: -1rem;
    }
    100% {
        margin-right: 0rem;
    }
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5% / 30%;
    box-shadow: 2px 2px 10px grey;
    width: 360px;
    margin: 1rem 0;
    margin-left: 1rem;
    background-color: white;
    position: relative;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    
    &__title {
        margin: 0.8rem 0 0.3rem 0.5rem;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }

    &__describe {
        margin: 0.3rem 0 0.8rem 0.5rem;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }

    &__check {
        display: none;
        justify-content: center;
        align-items: center;
        margin-right: -4rem;
        float: inline-end;
    }

    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width:auto;
        font-weight: 700;
        margin: 0 0.8rem 0.8rem 0;
    }

    &:hover {
        border: none;
    }

    &:hover &__check {
        display: inherit;
        display: flex;
        border:2px solid $color-tertiary;
        background-color: $color-tertiary;
        color: white;
        border-radius: 0 30% 30% 0;
        margin-right:0;
        width: 3.5rem;
        font-size: 1.2rem;
        cursor: pointer;
        animation: margin-right 0.4s linear both;
    }

    &:hover &__info {
        width: 260px;
    }
}

.article:hover .fa-check-circle {
    animation: rotate360 0.3s ease-in-out 0.2s both ;
}
.entrance, .plate, .dessert {
    &__title {
        color: #7b7b7b;
        margin-left: 1rem;
        width: 3rem;
        border-bottom: 4px solid $color-tertiary;
        padding: 0.5rem 0;
    }
}
@keyframes translation {
    from {
        
    }
    to {
        
    }
}

@keyframes delay-appear {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    30% {
        transform: translateY(70px);
        opacity: 0.1;
    }
    50% {
        transform: translateY(50px);
        opacity: 0.3;
    }
    70% {
        transform: translateY(30px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@for $i from 0 through 8 {
    .delay_#{$i} { 
        animation: delay-appear 0.6s linear 0.2s*$i both;
    }
}
.information {
    background-color: #353535;
    color: white;
    padding: 0;
    margin: 0;

        &__title{
            font-family:'Shrikhand';
            font-weight: 500;
            margin: inherit;
            padding: 1rem;
            padding-left: 2rem;
            padding-bottom: 0;
        }

        &__list {
            margin: inherit;
            padding: 1rem;
            padding-left: 2rem;
        }
}
       
.proposition {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.5rem;

        &__text {
            margin: 0;
            margin-left: 1rem;
        }
}

.partnair {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.5rem;

        &__text {
            margin: 0;
            margin-left: 0.5rem;
        }
}

.mention {
    list-style-type: none;
    padding-bottom: 0.5rem;
        &__mail {
            list-style-type: none;
            text-decoration: none;
            color: white; 
        }
}

@media only screen and (max-width:761px) {
    .heading {
        display: block;
        &__title {
            text-align: center;
            font-weight: 500;
            font-size: 2rem;
        }
    }

    .search {
        width: auto;
        &__icon {
            width:auto;
            margin-left: 3.5rem;
        }

        &__text-area {
            width: 0;
        }
    }

    .fonction {
        &__title {
            margin: 2rem 0 0 0.7rem;
            font-size: 1.2rem;
        }

        &__list {
            margin-bottom: 3rem;
        }
    }

    .choice, .composition, .tasty {
        width: 17rem;
        font-weight: bold;
    }

    .reservation__title {
        margin-left: 0.5rem;
        font-weight: bold;
    }

    .selection {
        width: auto;
    }

    .menuCard__title {
        font-size: 1.2rem;
        margin-left: 0.7rem;
    }

    .card {
        display: inline-block;
        flex: none;
        margin: 0;
        margin: 0.8rem;
        width: auto;
            &__image {
                width: 100%;  
            }
    }

    .information {
    
        &__title {
            padding-left: 0.8rem;
        }

        &__list {
            padding-left: 0.8rem;
        }
    }
}

@media only screen and (max-width: 375px) {
    .heading1 {
        justify-content: center;
        position: relative;
         
        &__return {
            position:absolute;
            margin:inherit;
            left:1rem;
        }

        &__title {
            font-weight: 300;
            justify-self: center;
            margin: 1rem 0
        }
    }

    .header {
        
        &__title {
            font-size: 1.7rem;
        }

        &__icon {
            top: 1.5rem;
            right: 2rem;
            font-size: 1.6rem;
        }
    }

    .article {
        width: 340px;
        margin: 1rem 0.5rem;

        &__describe {
            max-width: 280px;
        }

        &:hover &__info {
            width: 200px;
        }
    }

    .entrance, .plate, .dessert {
        &__title {
            color: #7b7b7b;
            margin-left: 0.5rem;
        }
    }
}


